.fadeIn {
    animation: fadein 3s;

  }
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.back1{
    background-color: #94a3b8;
}
.back2{
    background-color: #a1a1aa;
}
.back3{
    background-color: #a3a3a3;
}
.back4{
    background-color: #a8a29e;
}
.back5{
    background-color: #f87171;
}
.back6{
    background-color: #fb923c;
}
.back7{
    background-color: #fbbf24;
}
.back8{
    background-color: #a3e635;
}
.back9{
    background-color: #4ade80;
}
.back10{
    background-color: #34d399;
}
.back11{
    background-color: #2dd4bf;
}
.back12{
    background-color: #22d3ee;
}
.back13{
    background-color: #38bdf8;
}
.back14{
    background-color: #60a5fa;
}


.color1{
    color: #94a3b8;
}
.color2{
    color: #a1a1aa;
}
.color3{
    color: #a3a3a3;
}
.color4{
    color: #a8a29e;
}
.color5{
    color: #f87171;
}
.color6{
    color: #fb923c;
}
.color7{
    color: #fbbf24;
}
.color8{
    color: #a3e635;
}
.color9{
    color: #4ade80;
}
.color10{
    color: #34d399;
}
.color11{
    color: #2dd4bf;
}
.color12{
    color: #22d3ee;
}
.color13{
    color: #38bdf8;
}
.color14{
    color: #60a5fa;
}
